/* ------------------ Resets ------------------------------------------------------- */
* {margin: 0; padding: 0; box-sizing: border-box;}

html,body {height: 100%;}

body {font-size: 16px; font-family: 'Lato', sans-serif;
    font-weight: 400; line-height: 1; color: #4d4d4d; background: #f1f1f1;}

h1,h2,h3,h4,h5,h6 {font-weight: 400;}

/* Default Link Styles */
a { color: #1c88e1; text-decoration: none; }

/* Default List Styles */
ul, ol {list-style-type: none;}

/* Default img style */
img {border: none; max-width: 100%;}

/* Default focus style */
:focus {outline: none;}

#site_header {background: #333333; position: relative; height: 50px;}

#logo {position: absolute; left: 50%; top: 10px; max-width: 150px; transform: translateX(-50%);}

#page_content {padding: 125px 30px 100px 30px; max-width: 600px; margin: 0 auto;}

#intro_content {text-align: center;}
    #intro_content h1 {color: #000000; font-weight: 700; font-size: 20px; text-transform: uppercase; margin-bottom: 10px;}
    #intro_content p {line-height: 1.25;}

#links {padding: 50px 0 0 0;}
    #links li {margin-bottom: 25px; box-shadow: 0 0 1px rgba(0,0,0,0.2); background: #ffffff;}
    #links h2 {background: #666666; color: #ffffff; padding: 15px; font-weight: 400;}

.link_details {word-wrap: break-word;}
    .link_details a {display: block; padding: 10px 20px; background: #ebf2f7; font-size: 16px; font-weight: 700;}
    .link_details p {line-height: 1.5; padding: 15px 20px 0 20px; font-weight: 400;}
    .link_details p:last-child {padding-bottom: 15px;}
    .link_details p.first {padding-bottom: 15px;}

#mock_container {max-width: 1400px; margin: 0 auto;}
